.App {
  text-align: center;
}

body {
  background-color: hsl(180, 100%, 94%);
}

h1, h2 {
  margin-top: 40px;
  color: rgb(85, 190, 228);
  margin-bottom: 40px;
  font-size:xx-large;
  font-family:
    '-apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Lucida Grande", "Arial", sans-serif';
}